img {
  max-width: 100%;
  height: auto;
}

.swiper-pagination {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
  z-index: 1000;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background-color: blue;
}
.main-layout {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
